<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="utf-8">
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css}" rel="stylesheet" />
</head>

<body>
    <div class="panel panel-default" style="margin: 10px;">
        <div class="panel-heading">
            <h1 class="panel-title">Agenda</h1>
        </div>
        <div class="panel-body">
            <form class="form-inline" method="POST" style="margin: 20px 0" th:object="${person}" th:action="@{/persons}">
                <input type="text" class="form-control" placeholder="Nome" th:field="*{name}" />
                <input type="text" class="form-control" placeholder="Email" th:field="*{email}" />
                <input type="text" class="form-control" placeholder="Aniversário" th:field="*{birthday}" />
                <input type="submit" class="btn-primary" value="Salvar" />
            </form>

            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Aniversário</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="person : ${persons}">
                        <td th:text="${person.name}">AAA</td>
                        <td th:text="${person.email}">aaa@gmail.com</td>
                        <td th:text="${#temporals.format(person.birthday, 'dd-MM-yyyy')}">99/99/9999</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>